In [6]:
pip install --user kaggle

Requirement already satisfied: kaggle in ./opt/anaconda3/lib/python3.9/site-packages (1.5.12)
Requirement already satisfied: urllib3 in ./opt/anaconda3/lib/python3.9/site-packages (from kaggle) (1.26.9)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.9/site-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in ./opt/anaconda3/lib/python3.9/site-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-slugify in ./opt/anaconda3/lib/python3.9/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: six>=1.10 in ./opt/anaconda3/lib/python3.9/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in ./opt/anaconda3/lib/python3.9/site-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in ./opt/anaconda3/lib/python3.9/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in ./opt/anaconda3/lib/python3.9/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->kaggle) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import kaggle

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/saveliy/.kaggle/kaggle.json'

In [14]:
!kaggle competitions download titanic -f train.csv --force
!kaggle competitions download titanic -f test.csv --force

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/saveliy/.kaggle/kaggle.json'
Downloading train.csv to /Users/saveliy
100%|███████████████████████████████████████| 59.8k/59.8k [00:00<00:00, 299kB/s]
100%|███████████████████████████████████████| 59.8k/59.8k [00:00<00:00, 298kB/s]
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/saveliy/.kaggle/kaggle.json'
Downloading test.csv to /Users/saveliy
100%|███████████████████████████████████████| 28.0k/28.0k [00:00<00:00, 205kB/s]
100%|███████████████████████████████████████| 28.0k/28.0k [00:00<00:00, 204kB/s]

In [15]:
import pandas as pd

In [17]:
shipwreck = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [18]:
shipwreck.drop('Cabin', axis=1, inplace=True)
test.drop('Cabin', axis=1, inplace=True)

In [19]:
shipwreck.dropna(inplace=True)

In [20]:
test['Age'].fillna(test['Age'].median(), inplace=True)
test['Fare'].fillna(test['Fare'].median(), inplace=True)

In [21]:
test_id=test['PassengerId']

In [23]:
sx_train=pd.get_dummies(shipwreck['Sex'], drop_first=True)
sx_test=pd.get_dummies(test['Sex'], drop_first=True)

In [24]:
pcls_train=pd.get_dummies(shipwreck['Pclass'], drop_first=True)
pcls_test=pd.get_dummies(test['Pclass'], drop_first=True)

In [25]:
embrk_train=pd.get_dummies(shipwreck['Embarked'], drop_first=True)
embrk_test=pd.get_dummies(test['Embarked'], drop_first=True)

In [26]:
shipwreck=pd.concat([shipwreck, sx_train, pcls_train, embrk_train], axis=1)
test=pd.concat([test, sx_test, pcls_test, embrk_test], axis=1)

In [27]:
shipwreck.drop(['PassengerId', 'Pclass', 'Name', 'Sex', 'Ticket', 'Embarked'], axis=1, inplace=True)
test.drop(['PassengerId', 'Pclass', 'Name', 'Sex', 'Ticket', 'Embarked'], axis=1, inplace=True)

In [29]:
X=shipwreck.drop('Survived', axis=1)
y=shipwreck['Survived']

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=4)

In [32]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(solver='lbfgs', max_iter=1000)

In [33]:
lr.fit(X_train, y_train)

/Users/saveliy/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

LogisticRegression(max_iter=1000)

In [34]:
prediction=lr.predict(X_test)

/Users/saveliy/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [35]:
from sklearn.metrics import classification_report

In [36]:
from sklearn.metrics import confusion_matrix

In [37]:
confusion_matrix(y_test, prediction)

array([[127,  18],
       [ 30,  60]])

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, prediction)

0.7957446808510639

In [39]:
submissions_preds=lr.predict(test)

/Users/saveliy/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [40]:
submissions=pd.DataFrame({'PassengerId': test_id.values, 'Survived': submissions_preds})

In [41]:
submissions.to_csv('submission.csv', index=False)

In [42]:
submissions.head(20)

    PassengerId  Survived
0           892         0
1           893         0
2           894         0
3           895         0
4           896         1
5           897         0
6           898         0
7           899         0
8           900         1
9           901         0
10          902         0
11          903         0
12          904         1
13          905         0
14          906         1
15          907         1
16          908         0
17          909         0
18          910         1
19          911         1

In [43]:
!kaggle competitions submit titanic -f submission.csv -m 'sumission script'

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/saveliy/.kaggle/kaggle.json'
100%|██████████████████████████████████████| 2.77k/2.77k [00:02<00:00, 1.39kB/s]
Successfully submitted to Titanic - Machine Learning from Disaster